
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @store do |f| %>
  <div class="form-group">
  <p>
  <%= f.label :name%>
  <%= f.text_field :name%>
  </p>
  <p>
  <%= f.label :street%>
  <%= f.text_field :street%>
  </p>
  <p>
  <%= f.label :number%>
  <%= f.text_field :number%>
  </p>
  <p>
  <%= f.label :zipcode%>
  <%= f.text_field :zipcode%>
  </p>

  <p>
  <%= f.label :country%>
  <%= f.select :country, collection: CountryStateSelect.countries_collection %>
  </p>
  <p>
  <%= f.label :state%>
  <%= f.text_field :state%>
  </p>

  <p>
  <%= f.label :city%>
  <%= f.text_field :city%>
  </p>

  <p>
  <%= f.label :products%>
  <%= f.select :product_ids, 
    Product.all.map { |k| [k.name, k.id] },
                    { include_blank: true },
                    { multiple: true, class: 'chosen-select' } %>

  </p>
   <%= submit_tag "#{@store.new_record? ? 'Create':'Update'} Store", :class => "btn btn-primary"%>
  </div>
<%end%>
