<div class="container">
<h1>Stores index</h1>
<%= button_to "Add new store", stores_new_path, :class => "btn btn-primary", method: :get %>
<ul class="list-group">
  <% @stores.each do |store| %>
    <li class="list-group-item">
          <div class="row">
          <span class="label_text">
          <%= link_to store.name, store_path(store)%>
          </span>
          <%= link_to "Edit", edit_store_path(store), :class => "btn btn-outline-secondary"%>
          <%= link_to "Delete", store_path(store), :class => "btn btn-outline-danger", :method => 'delete'%>
          </div>
          <div class="row">
          <span class="label_text">
          <%=store.street%>
          </span>
          <span class="label_text">
          <%=store.number%>
          <%=store.zipcode%>
          </span>
          </div>
    </li>
  <%end%>
</ul>
</div>
