<div class="container">
<h1>Stores index</h1>
<%= button_to "Add new store", stores_new_path, :class => "btn btn-primary", method: :get %>
<ul>
  <% @stores.each do |store| %>
    <li>
          <p>
          <span class="label_text">
          <%= link_to store.name, store_path(store)%>
          </span>
          <%= link_to "Edit", edit_store_path(store)%>
          <%= link_to "Delete", store_path(store), :method => 'delete'%>
          </p>
          <span class="label_text">
          <%=store.street%>
          </span>
          <span class="label_text">
          <%=store.number%>
          <%=store.zipcode%>
          </span>
        </li>
  <%end%>
</ul>
</div>
