
    <div class="container">
<h1>Stores index</h1>
<%= button_to "Add new store", stores_new_path, method: :get %>
<ul>
  <% @stores.each do |store| %>
    <li>
          <p>
          <span class="label_text">
          <%= link_to store.name, store_path(store)%>
          </span>
          <%= link_to "Edit", store_path(store)%>
          <%= link_to "Delete", product_path(store)%>
          </p>
          <span class="label_text">
          <%=store.street%>
          </span>
          <span class="label_text">
          <%=store.number%>
          <%=store.zipcode%>
          </span>
        </li>
  <%end%>
</ul>

</div>
