<div class="container">
<h1>Stores: <%= @store.name%></h1>

<p>Street: <%= @store.street%></p>
<p>Number: <%= @store.number%></p>
<p>Zip code: <%= @store.zipcode%></p>
<p>City: <%= @store.city%></p>
<p>Country: <%= @store.country%></p>

<p>
<%= button_to "Edit Store", edit_store_path(@store.id), :class => "btn btn-primary", method: :get %>
<%= button_to "Back to Stores", stores_path, :class => "btn btn-primary", method: :get %>
</p>
</div>
