<div class="card">
<h1>Stores: <%= @store.name%></h1>
<div class="card-body">
<p class="card-subtitle mb-2 text-muted">Street: <%= @store.street%></p>
<p>Number: <%= @store.number%></p>
<p>Zip code: <%= @store.zipcode%></p>
<p>City: <%= @store.city%></p>
<p>Country: <%= @store.country%></p>
<p>
Products: 
<ul class="list-group">
<% for product in  @store.products %>
  <li class="list-group-item"><span><%= product.name%></span> </li>
<%end%>
</ul>
</p>


  <div class="row">
    <div class="col-sm-4">
<%= button_to "Back to Stores", stores_path, :class => "btn btn-link", method: :get %>
    </div>
    <div class="col-sm-4">
<%= button_to "Edit Store", edit_store_path(@store.id), :class => "btn btn-link", method: :get %>
    </div>

  </div>
</div>
</div>
</div>
