
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red"><%= error %></p>
  <% end %>
<% end %>

<%= form_for(@category, remote: true) do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <%= f.label :keywords%>
  <%= f.select :keyword_ids, 
    Keyword.all.map { |k| [k.phrase, k.id] },
                    { include_blank: true },
                    { multiple: true, class: 'chosen-select' } %>

  
<div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

   <%= submit_tag "#{@category.new_record? ? 'Create':'Update'} Category", :class => "btn btn-primary"%>
 </div>
<%end%>
