
    <div class="container">

    <h1>List / Products</h1>
    <%= button_to "Add new Product", products_new_path,:class => "btn btn-primary", method: :get %>
    <ul>
      <% @products.each do |product| %>
        <li>
          <p>
          <span class="label_text">
          <%= link_to product.name, product_path(product)%>
          </span>
          <%= link_to "Edit", edit_product_path(product)%>
          <%= link_to "Delete", product_path(product), :method => 'delete'%>
          </p>
          <span class="label_text">
          <% for keyword in product.category.keywords%>
            #<%= keyword.phrase %>
          <% end %>
          </span>
          <span class="label_text">
          <%=product.price%>
          </span>
        </li>
      <%end%>
    </ul>
</div>
