<div class="container">
<h1>Products details</h1>

<p>
  Name: <%= @product.name %>
</p>
<p>
  Color: <%= @product.color %>
</p>
<p>
  Size: <%= @product.size %>
</p>
<p>
  Price: <%= @product.price %>
</p>
<p>
  Category: <%= @product.category.name %>
</p>

<p>
Stores: 
<ul>
<% for store in  @product.stores %>
  <li><span><%= store.name%></span> <span> (<%= store.zipcode%>)</span></li>
<%end%>
</ul>
</p>

<%= button_to "Edit Product", edit_product_path(@product.id),:class => "btn btn-primary", method: :get %>
<%= link_to "Back to Products", products_path , {:class => "btn btn-primary"}%>

</div>
