<div class="card">
<h1>Products details</h1>

<div class="card-body">
<p class="card-subtitle mb-2 text-muted">
  Name: <%= @product.name %>
</p>
<p>
  Color: <%= @product.color %>
</p>
<p>
  Size: <%= @product.size %>
</p>
<p>
  Price: <%= @product.price %>
</p>
<p>
  Category: <%= @product.category.name %>
</p>

<p>
Stores: 
<ul class="list-group">
<% for store in  @product.stores %>
  <li class="list-group-item"><span><%= store.name%></span> <span> (<%= store.zipcode%>)</span></li>
<%end%>
</ul>
</p>

  <div class="row">
    <div class="col-sm-4">
      <%= link_to "Back to Products", products_path , {:class => "btn link"}%>
    </div>
    <div class="col-sm-4">
      <%= button_to "Edit Product", edit_product_path(@product.id),:class => "btn btn-link", method: :get %>
    </div>
  </div>

</div>
