<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
              <% if params[:controller] == 'stores'%>
                <li class='nav-item'><%= link_to "Stores", stores_index_path, class: 'navbar-brand' %></li>
              <% else %>
                <li class='nav-item'><%= link_to "Stores", stores_index_path, class: 'nav-link' %></li>
              <% end %>
              <% if params[:controller] == 'products'%>
                <li class='nav-item'><%= link_to 'Products', products_index_path, class: 'navbar-brand' %></li>
              <% else %>
                <li class='nav-item'><%= link_to 'Products', products_index_path, class: 'nav-link' %></li>
              <% end %>
              <% if params[:controller] == 'categories'%>
                <li class='nav-item'><%= link_to 'Categories', categories_path, class: 'navbar-brand' %></li>  
              <% else %>
                <li class='nav-item'><%= link_to 'Categories', categories_path, class: 'nav-link' %></li>  
              <% end %>

                </li>
            </ul>
        </div>
    </div>
</nav>
